* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    background-color: hsl(200, 50%, 70%);
}

canvas {
    background-color: #262626;
    margin-top: 30px;
    border-style: solid;
	position: absolute;
}

a {
    font-size: 24px;
}